body {
  margin: 0 auto;
}

#hero {
  background-color: #371B58;
  height: 100vh;
  margin-top: 0;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: ". hero hero hero hero hero light light light light";
  gap: 20px;
}

#dark-purple {
  grid-area: hero;
  grid-row: 1;
}

#hero h1 {
  color: white;
  font-family: 'inter';
  font-size: 96px;
  width: 80%;
  position: relative;
  z-index: 2;
  margin-top: 3em;
}

#hero-btn {
  position: relative;
  z-index: 3;
  padding: 1rem;
  font-size: 64px;
  font-family: 'inter-bold';
  background-color: transparent;
  color: #AFD926;
  border: 3px solid #AFD926;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

#hero-btn:hover {
  background-color: #AFD926;
  border: 3px solid #4C3575;
  color: #371B58;
}

#hero span {
  font-family: 'inter-bold';
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(236,255,215,1) 37%, rgba(255,201,251,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#light-purple {
  background-color: #4C3575;
  grid-row: 1;
  grid-column-start: 5;
  grid-column-end: 11;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

@font-face {
  font-family: 'inter';
  src: url(/PORTFOLIO/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'inter-bold';
  src: url(/PORTFOLIO/fonts/inter/static/Inter-Black.ttf);
  font-weight: bold;
  font-style: normal;
}
