#hero {
  height: 100vh;
  background-color: #3d3d3d;
}

body {
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: ". hero hero hero hero hero . .";
  gap: 20px;
}

.dark-purple {
  background-color: #7d50ff;
}

.hero-intro {
  grid-area: hero;
  width: 100%;
  color: #3d3d3d;
  font-size: 96px;
}

span {
  color: white;
}