:root {
  --dark-purple: #371B58;
  --mid-purple: #4C3575;
  --light-purple: #7858A6;
  --theme-green: #AFD926;
}

body {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(110deg, var(--dark-purple) 50%, var(--mid-purple) 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'inter';
}

* {
  box-sizing: border-box;
}

/* .container {
  margin: 0 auto;
} */

header {
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  height: 100%;
}

.nav-links li:hover {
  background-color:  hsla(0, 0%, 100%, 0.2);
}

.nav-links a:hover {
  color: var(--theme-green);
}

.toggle-btn {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#hero {
  height: 100vh;
  margin-top: 0;
  /* overflow: auto;  */
  display: flex;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: ". hero hero hero hero hero light light light light";
  gap: 20px;
} */

#dark-purple {
  /* grid-area: hero;
  grid-row: 1; */
  display: flex;
  justify-content: center;
  position: relative;
  /* width: 50%; */
}

#dark-purp-container {
  margin-left: 20em;
}

#hero h1 {
  color: white;
  font-family: 'inter';
  font-size: 100px;
  margin-top: 3em;
  width: 45%;
}

#hero-btn {
  margin-bottom: 2em;
  padding: 1rem;
  font-size: 64px;
  font-family: 'inter-bold';
  background-color: transparent;
  color: var(--theme-green);
  border: 3px solid var(--theme-green);
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

#hero-btn:hover {
  background-color: var(--theme-green);
  border: 3px solid var(--mid-purple);
  color: var(--dark-purple);
}

#hero span {
  font-family: 'inter-bold';
  font-size: 1.1em;
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(236,255,215,1) 37%, rgba(255,201,251,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #light-purple {
  position: relative;
  z-index: 3;
  background-color: #4C3575;
  grid-row: 1;
  grid-column-start: 5;
  grid-column-end: 11;
  clip-path: polygon(400px 0, 100% 0, 100% 100%, 0% 100%);
  width: 120vw;
} */

@font-face {
  font-family: 'inter';
  src: url(/PORTFOLIO/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'inter-bold';
  src: url(/PORTFOLIO/fonts/inter/static/Inter-Black.ttf);
  font-weight: bold;
  font-style: normal;
}

@media screen and (max-width: 1360px){

}

@media screen and (max-width: 400px) {
  .toggle-btn {
    display: flex;
  }

  .nav-links {
    display: none;
  }


}